@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgba(50, 205, 50, 0.2);
  outline: 1px solid limegreen; */ }

header {
  background-color: white; }
  header .nav {
    width: 100%;
    margin: 10px auto; }
    header .nav .nav__menu {
      list-style-type: none;
      display: inline-block;
      justify-content: left; }
      header .nav .nav__menu .nav__li {
        width: 100px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        float: left;
        text-align: center; }
        header .nav .nav__menu .nav__li:hover {
          background-color: beige; }
        header .nav .nav__menu .nav__li a {
          color: black; }

.main-container {
  background-color: white;
  margin: 80px;
  padding: 10px; }
  .main-container .h1 {
    text-align: center;
    color: black;
    padding: 10px; }
    .main-container .h1 .h2 {
      text-align: center;
      color: black;
      padding: 10px; }
      .main-container .h1 .h2 .remarcar {
        font-weight: bold;
        color: #18a0fb; }
        .main-container .h1 .h2 .remarcar p {
          color: black; }

.gallery-container {
  background-color: white; }
  .gallery-container .gallery-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; }
    .gallery-container .gallery-images .gallery-container h2 {
      text-align: center;
      margin-bottom: 40px; }

.logo {
  width: 130px; }

.masthead {
  width: 100%;
  height: auto;
  margin: 1rem;
  text-align: center; }

.banner {
  width: 100%;
  height: 640px;
  margin: 1rem;
  text-align: center;
  justify-content: center; }

.banner1 {
  width: 100%;
  height: auto;
  margin: 1rem;
  text-align: center; }

.banner2 {
  width: 100%;
  height: auto;
  margin: 1rem;
  text-align: center; }

.button1 {
  padding: 8px 16px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #18a0fb;
  color: #18a0fb;
  display: flex;
  align-self: center;
  cursor: pointer; }
  .button1 .button2 {
    border-radius: 5px;
    padding-left: 60px;
    background-color: #18a0fb;
    color: aquamarine;
    text-align: center;
    display: inline-block;
    justify-content: center;
    cursor: pointer;
    position: absolute !important;
    top: 1%; }
  .button1 .bg-grey {
    padding: 1px 0;
    background-color: WhiteSmoke;
    align-self: center; }
  .button1 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .button1 main button {
    margin-left: 0; }
  .button1 .card {
    width: 50%; }
  @media only screen and (max-width: 540px) {
    .button1 .card {
      width: 100%; } }
  .button1 .testimony-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; }
  .button1 .testimony-container img {
    width: 50%; }
  .button1 .testimony {
    width: 50%;
    display: flex;
    flex-direction: column; }
  .button1 .gallery-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; }
  .button1 .gallery-images img {
    width: 20%; }
  .button1 .rounded-img img {
    border-radius: 50%; }
  .button1 footer {
    display: flex;
    justify-content: center; }
  .button1 footer .social i {
    font-size: 25px;
    margin: 16px;
    color: #18a0fb; }
  .button1 .main-container small {
    display: block;
    text-align: center; }
  .button1 .video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 710px;
    height: 439px; }
  .button1 .ancho {
    width: 400px; }

.imagen3 :hover {
  transform: traslate(30px, 30px); }
