.main-container{
    margin:80px;
    .h1{
      text-align:center;
      color:black;
      padding:10px;
    .h2{
      text-align:center;
      color:black;
      padding:10px;
      .remarcar{
        font-weight:bold;
        color:#18a0fb;
        p{
          color:black
  }
  }
  }
  }
  }